*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    position: relative;
    margin: 10px;
}

.image-container img {
    max-width: 150px;
    max-height: 150px;
    display: block;
}

.image-container button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px 10px;
}