.banner-img i {
    font-size: 22px;
    cursor: pointer;
    color: red;
    position: absolute;
    left: 90%;
    top: 14%;
}

.banner-img {
    position: relative;
    padding: 12px 0px;
    border-radius: 8px;
    border: 1px solid #c0bebe;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.3);
    width: 100%;
}