.add_product_main_box label{
    
    padding-left: 5px;
    color: #4d869c;
    font-weight: 600;
}

.add_product_main_box .container{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
border-radius: 12px;
}

.add_product_main_box .container h1{
    border-bottom: 3px solid #4d869c;
    padding: 10px;
    color: #4d869c;
}